<h2>Edit </h2>

<%= form_for(@user, url: update_path(@user), html: { method: :put }) do |f| %>
<% if current_user.role == 'admin' %>
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>
<% end %>

<% if @user.role != 'admin' %>

 <div class="field">
  <%= f.label :roles %><br>
  <%= f.select :role, User.roles.keys.map { |w| [w.humanize, w] } %>
 </div>
  <div class="field">
    <%= f.label :address_line %><br>
    <%= f.text_field :address_line %>
  </div>

    <div class="field">
    <%= f.label :street %><br>
    <%= f.text_field :street %>
  </div>

  <div class="field">
    <%= f.label :land_mark %><br>
    <%= f.text_field :land_mark %>
  </div>

  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>

  <div class="field">
    <%= f.label :pincode %><br>
    <%= f.text_field :pincode %>
  </div>
<% end %>
  <div class="field">
    <%= f.label :profile_picture %><br>
    <%= f.file_field :avatar %>
  </div>


  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= link_to "Back", :back %>
